
boxsolver-noAI/target




**/boxsolver-noAI
**/bin

react-webapp/node_modules
box-optimizer-api/target
## This ignores all `target`, `.vscode` and `node_modules` anywhere in the project
**/target
**/.vscode
**/node_modules




# timefold junk

backend/timefold/target
backend/timefold/box_plan.json
backend/timefold/ignore.gitignore
backend/timefold/solution.txt
backend/timefold/solution1.txt
backend/.DS_Store

# Ignore IDE-specific junk
*.iws
*.iml
*.ipr
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.idea/
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
build/
**/.DS_Store


backend/air-allocation/
backend/box-optimizer-api/.gitattributes
backend/box-optimizer-api/.gitignore
backend/box-optimizer-api/box_plan.json
backend/box-optimizer-api/out.txt
backend/box-optimizer-api/package.json
backend/boxsolver-noAI/.history/
.history/
